.logout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    text-align: center;
    
  }
  
  .logout-container h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .logout-buttons {
    display: flex;
    gap: 15px;
  }
  
  .logout-btn, .cancel-btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
  }
  
  .logout-btn {
    background-color: #dc3545;
    color: white;
  }
  
  .logout-btn:hover {
    background-color: #c82333;
  }
  
  .cancel-btn {
    background-color: #6c757d;
    color: white;
  }
  
  .cancel-btn:hover {
    background-color: #5a6268;
  }