.sidebar{ 
    margin: 2vh;
    left: 0;
    padding: 1%;
    width: 10%;
    min-height: 100vh;
    font-size:max(1vw ,10px );  
    background-color: tomato;
    border-radius: 10px;

}
.sidebar-options{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 2%;
    border: 2px solid black;
    color: black;
    padding: 1px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.sidebar-option.active{
    background-color: bisque;
    color: black;
    border-color: brown;
}


@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
}