.sidebar {
    position: fixed;  
    left: 0;
    height: 100vh;

    font-size: max(1vw, 10px);
    border-radius: 10px;
    z-index: 1000; 
    transition: width 0.3s ease-in-out;
    background-color: cornflowerblue;
}

.sidebar.collapsed {
    width: 0px; 
}

.sidebar.expanded {
    width: 200px; 
}

.sidebar-icon img {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.sidebar-options {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: visible 0.5s ease-in-out forwards;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    color: black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.sidebar-option.active {
    background-color: bisque;
    color: black;
    border-color: brown;
}

@media (max-width: 900px) {
    .sidebar.expanded {
        width: 150px;
    }
    .sidebar-option p {
        display: contents;
    }
}

@keyframes visible {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}
