.app{
    width: 80%;
    min-height: 70vh;
    margin: auto;
  }
  .navbar-main{
    position: fixed;
    z-index: 5;
    width: 80%;
    margin: auto;
    background-color: aliceblue;
  }
 
  @media (max-width:500px) {
    .app{
      width: 95%;
      min-height: 70vh;
      margin: auto;
    }
    
  }