
  .sidebar .MuiDrawer-paper {
    background: #1976d2;
    
  }
  .navbar-display{
    box-shadow: none !important;
    border-bottom: 2px solid gray !important;
  }

  .sidebar-mobile .MuiDrawer-paper {
    background: #1976d2;
  }

  .content {
    /* padding: 16px; */
    padding-top: 72px;
    /* display: flex; */
    }
  
  @media (max-width: 600px) {
    .layout {
      flex-direction: column;
    }
  }
  