.search-box-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 200px;
}

.search-button {
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  background-color: tomato;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: black;
}

.view-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px; 
  min-height: 100%;
}
.search-box-main h1{
  color: tomato;
  align-items: center;
}
.search-box-main hr{
  padding: 2px;
  background-color: black;
}

@media ((max-width:400px)) {
  .search-box-main{
     min-height: 100vh;
  }
    .view-menu{
        grid-template-columns: 1fr;
    }
}
@media ((min-width:401px)) {
  .search-box-main{
    min-height: 100vh;
 }
    .view-menu{
        grid-template-columns: repeat(2,1fr)
    }
}
@media ((min-width:900px)) {
  .search-box-main{
    min-height: 100vh;
 }
    .view-menu{
        grid-template-columns: repeat(3,1fr)
    }
}



