.listadd{
    width: 100%;  
}
.list-table{
    margin-top: 1%;
}
.list-food-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid black;
    font-size: 13px;
}

.list-food-table-format.title{
    background-color: tomato;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.delete-item{
    cursor: pointer;
}
.list-food-table-format img{
    width: 120px;
    height: 120px;
}
.list-food-table-format p{
    font-size:x-large;
}
.list-food-table-format img{
    height: 50px;
    width: 50px;
}
.update-item{
    cursor: pointer;
}

@media (max-width:600px) {
    .listadd{
        p{
            font-size: smaller;
        }
    }
    .list-food-table-format{
        grid-template-columns: repeat(6,1fr);
        gap: 15px;
    }
    
    .list-food-table-format.title{
        display: none;
    }
    
}